


<div class="" ng-app='app'>
<div class="" ng-controller='PicLoadController'>


<nav class="navbar navbar-default navbar-fixed-top" style="opacity:0.5; color:grey">

<h1>500px on Rails</h1>




<button type="button" name="button" class="btn " ng-click = "nextPage()">Next Page {{current_page}} </button>

<Table>
<tr>

  <td class="" ng-repeat="cat in categories"> <button class="btn btn-link"  type="button" name="button" ng-click="chooseCat(cat)" >{{cat}}</button></td>

</tr>

</Table>
</nav>



<div class='container' style="margin-top: 150px;">

<Table>

  <tr ng-repeat="prop in data | filter : search ">

    <td >
      <div class="thumbnail text-center">
    <img data src="{{prop.image_url}}" class="img-responsive" width="600">

        <!-- <div class=""> Category: {{prop.category}} </div> -->
        <div class="caption"> <a href='https://500px.com{{prop.url}}'> <p> {{prop.name}}</p> </a></div>

      </div>
    </td>


</tr>

</Table>
>


  </div>
</div>
</div>
