<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>

<h2>Index</h2>

<%= link_to "About", about_path %>
<hr>
<table>
    <% @out.each do |c| %>
  <tr>
    <td>  <%= c["name"] %></td>
    <td>  <%= c["courseType"] %></td>
    <td>  <%= c["slug"] %></td>
  </tr>
  <% end %>
</table>


<br>
